@media screen and (max-width: 1150px) and (min-width: 800px){

    .background-container{
        padding: 20px;
        height: auto;
        /* border: 1px solid black; */
    }
    .logo{
        width: 20%;
    }
    .links-btn{
        width: 46%;
    }
    .links-tag{
        font-size: 1rem;
    }
    .cart-button{
        width: 34%;
    }
    .Contact-Us{
        width: 50%;
        font-size: 1rem;
    }
    .hero-section {
        width: 100%;
        height: auto;
    }
    #text-box{
        width: 70%;
        float:none;
        margin: auto;
        height: auto;
        padding-top: 20px;
    }
    #hero-image-box {
        margin: auto;
        height: auto;
        float: none;
        width: 80%;
    }
    .item2-row{
        height: auto;
    }
    .item2 {
        width: 80%;
        float: none;
        margin: auto;
        height: 108vh;
    }
    .Check-Out-Educate-container{
        height: auto;
        border: 1px solid;
        /* border: 0.5px solid black; */
    }
    .Check-Out-Educate-heading-div {
        width: 100%;
        height: auto;
        /* border: 0.5px solid black; */
    }
    .Check-Out-Educate-heading-box {
        float: left;
        width: 60%;
        height: auto;
        font-size: 2.2rem;
        /* border: 0.5px solid black; */
    }
    .Check-Out-Educate-btn-box{
        width: 35%;
        height: auto;
        padding: 0px;
    }
    .load-more{
        width: 76%;
        font-size: 0.85rem;
    }
    .container-row{
        width: 96%;
    }
    .item-3 {
        width: 42%;
        margin: 4%;
        height: auto;
    }
    .item-3-image-box{
        height: auto;
    }
    .course-lesson,.course-lecture,.course-student {
        padding: 2px 0px;
    }
    .price1 {
        width: 36%;
    }
    .onlineclassroom-row {
        width: 100%;
        height: 200vh;
        padding: 20px;
    }
    .onlineclassroom-imagebox1,
    .onlineclassroom-imagebox2,
    .onlineclassroom-imagebox3{
       display: none;
    }
    .onlineclassroom-main-box {
        width: 95%;
        height: auto;
        top: 50px;
        left: 20px;
    }
    #onlineclassroom-textbox{
        width: 90%;
        float: none;
        height: 80vh;
        margin: auto;
        border: 1px solid;
    }
    #onlineclassroom-imageboxbox4 {
        width: 80%;
        margin: auto;
        float: none;
        height: auto;
    }
    .onlineclassroom-imageboxbox4-image {
        width: 80%;
    }
    .onlineclassroom-imageboxbox4-image img{
        height: 100%;
    }
    #histudy-container {
        padding-top: 50px;
    }
    .histudy-big-heading {
        width: 76%;
        margin: auto;
        font-size: 2.4rem;
    }
    .medical-exam-box {
        width: 100%;
        margin-top: 10px;
    }
    .item-4 {
        width: 44%;
        height: auto;
        margin: 3%;
        padding: 20px 0px;
    }
    .iten-4-imagebox{
        height: auto;
        padding: 20px 0px;
    }
    .roundimage-div{
        height: auto;
    }
    .joinoursession-contactbox {
        width: 80%;
        left: 5%;
    }
    .join-sessioin-text {
        font-size: 1.5rem;
    }
    .enroll-text {
        font-size: 2.4rem;
    }
    .number-text {
        font-size: 2.4rem;
    }
    .slider-container {
        height: auto;
    }
    .girl-image-box {
        float: none;
        height: 100vh;
        width: 74%;
        margin: auto;
    }
    .girl-image {
        width: 80%;
        height: 90vh;
        margin-top: 6px;
    }
    .girl-triangle-image {
        margin-top: 26vh;
        margin-right: 7%;
        width: 28%;
    }
    .slider-box {
        position: absolute;
        top: 62%;
        right: 10%;
        width: 80%;
        height: 55vh;
        border-radius: 10px;
    }
    .slider-image-box {
        margin-top: 12px;
    }
    .container-image-row{
        height: 160vh;
    }
    .teachers-big-heading {
        font-size: 2.5rem;
    }
    .teachers-image-row {
        height: 138vh;
        margin: -300px auto 0px auto;
    }
    .teachers-image-box {
        margin-left: 8%;
        width: 40%;
    }
    .bg-color{
        width: 45% !important;
        margin: 2%;
    }
    .footer-item4 {
        width: 48%;
        height: auto;
    }
    .gallery-images {
        width: 24%;
        margin: 2.5%;
    }


}

@media screen and (max-width: 800px) and (min-width: 600px){
    .navbar{
        height: 13vh;
    }
    .logo {
        width: 30%;
    }
    .links-btn {
       display: none !important;
    }
    .cart-button{
        width: 62%;
        justify-content: flex-end;
        gap: 25px;
    }
    .menu-btn{
        display: block;
    }
    .background-container {
        height: auto;
    }
    .hero-section {
        width: 100%;
        height: auto;
    }
    #text-box {
        width: 100%;
        float: none;
        height:fit-content;
        padding-top: 10px;
    }
    .bigtext h1{
        font-size: 2.4rem;
    }
#hero-image-box {
    width: 88%;
    float: none;
    margin: auto;
    height: auto;
}
.item2-row{
    height: auto;
}
.item2 {
    margin: auto;
    width: 80%;
    height: 90vh;
    float: none;
}
.arc-image-1,
.orange-dot-image-2{
    display: none;
}
.about-main-image-3 {
    width: 100%;
    top: 0px;
    left: 0px;
}
.Check-Out-Educate-container{
    height: auto;
}
.container-row{
    width: 90%;
}
.Check-Out-Educate-heading-div{
    padding-left: 0px;
    height: 10vh;
}
.Check-Out-Educate-heading-box{
    width: 55%;
    height: auto;
    font-size: 1.6rem;
}
.Check-Out-Educate-btn-box {
    width: 41%;
    height: 10vh;
}
.load-more {
    width: 100%;
    align-items: normal;
}
.item-3 {
    margin: 2% 16%;
    height: auto;
    width: 66%;
}
.item-3-image-box {
    height:auto;
}
.onlineclassroom-row {
    width: 100%;
    height: 188vh;
    padding: 10px 30px;
}
.onlineclassroom-imagebox1,
.onlineclassroom-imagebox2,
.onlineclassroom-imagebox3{
    display: none;
}
.onlineclassroom-main-box{
    width: 100%;
    top: 0px;
    left: 0px;
    height: 188vh;
    border: 0.5px solid black;
}
#onlineclassroom-textbox{
    width: 100%;
    height: 90vh;
    float: none;
    margin: auto;
    border: 0.5px solid black;
}
#onlineclassroom-imageboxbox4 {
    width: 100%;
    height: 90vh;
}
.onlineclassroom-imageboxbox4-image {
    width: 68%;
}
#histudy-container {
    padding-top: 60px;
    padding-bottom: 60px;
}
.histudy-heading-contianer {
    height: auto;
}
.histudy-big-heading {
    width: 80%;
    height: auto;
    font-size: 1.8rem;
}
.histudy-image-row{
    height: auto;
}
.item-4 {
    width: 50%;
    margin-top: 2vh;
    height: auto;
}
.iten-4-imagebox {
    width: 94%;
    height: auto;
    padding: 10px 0px 20px 0px;
}
.roundimage-div {
    height: auto;
}
.best-coaching{
    font-size: 1.4rem;
}
.item-4-smalltext {
    font-size: 1rem;
    padding-top: 8px;
}
.joinoursession-contactbox {
    width: 90%;
    top: 6vh;
}
.joinoursession-image1{
    width: 38%;
    top: 0px;
}
.join-sessioin-text {
    font-size: 1.4rem;
}.joinoursession-container,
.joinoursession-bg-layer{
    height: 40vh;
}
.enroll-text,
.number-text{
    font-size: 2.1rem;
}
.annual-exam-preaparation {
    padding-top: 6vh;
}
.medical-exam-box {
    width: 100%;
    padding-top: 2vh;
}

.medical-exam-heading {
    font-size: 2rem;
}
.girl-image-box,
.girl-triangle-image {
    display: none;
}
.slider-container{
    height: 62vh;
}
.slider-box {
    top: 10%;
    width: 90%;
    right: 5%;
}
.slider-text {
    font-size: 0.90rem;
    line-height: 1.6;
}
.slider-round-div {
    width: 26%;
}
.teachers-container {
    padding-top: 30px;
    height: 60vh;
}
.teachers-big-heading {
    font-size: 2rem;
}
.teachers-image-box {
    width: 44%;
    float: left;
    margin: 1% 3%;
}
.teachers-image-row {
    height: 138vh;
    margin: -235px auto 0px auto;
}
.footer-item4 {
    width: 48%;
    height: auto;
}
.gallery-images {
    width: 24%;
    margin: 2.5%;
}
}

@media screen and (max-width:590px){
    .background-container {
        padding: 80px 0px;
    }
    .logo{
        width: 50%;
    }
    .links-btn,
    .Contact-Us{
        display: none !important;
    }
    .cart-button{
        justify-content: flex-end;
        width: 46%;
        gap: 20px;
        
    }
    .menu-btn{
        display: block;
    }
    .hero-section {
        height: auto;
    }
    #text-box{
        width: 100%;
        float: none;
        height: auto;
        padding-left: 20px;
        padding-top: 14px;
    }
    .bigtext{
        font-size: 0.90rem;
    }
    .small-text {
        font-size: 0.90rem;
    }
    .find-the-course {
        width: 90%;
        align-items: flex-start;
        flex-direction: column;
        padding: 0px;
        margin: 0px;
    }
    .course-btn {
        width: 42%;
        height: 7vh;
        font-size: 0.75rem;
        margin: 10px 0px;
    }
    .happy-course {
        display: none;
        width: 49%;
        margin: 10px;
    }
    .circle-image-box {
        width: 132px;
    }
    #hero-image-box {
        margin: auto;
        width: 80%;
        float: none;
        display: flex;
    }
    .item2-row {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .arc-image-1,
    .orange-dot-image-2{
        display: none;
    }
    .triangle-image img {
        display: none;
    }
    .item2 {
        width: 100%;
        height: 74vh;
    }
    .about-main-image-3 {
        position: absolute;
        width: 100%;
        height: auto;
        top: 0px;
        left: 0px;
    }
    .Check-Out-Educate-container{
        height: fit-content;
        padding: 20px 0px;
    }
    .top-course-text,
    .histudytext,.teacherstext
     {
        font-size: 0.70rem;
    }
    .container-row{
        width: 100%;
        margin-top: 20px;
        height: auto;
        padding: 20px 0px 
      
    }
    .Check-Out-Educate-heading-div{
        height: auto;
    }
    .Check-Out-Educate-heading-box {
        float: left;
        width: 50%;
        height: auto;
        font-size: 1rem;
        padding: 0px;
    }
    .Check-Out-Educate-btn-box{
        height: auto;
        width: 42%;
        padding: 0px;
    }
    .load-more {
    width: 76%;
    font-size: 0.65rem;
    height: 7vh;
    }
    .container-image-row{
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }
    .item-3 {
        float: none;
        padding: 10px 0px;
        width: 46%;
        border: 8px solid #fff;

    }
    .bg-color{
        border: 8px solid #EFEFEF;

    }
    /* .invisble{
        display: none !important;
    } */
    .item-3-rating-box{
        height: auto;
        font-size: 0.60rem;
        padding: 5px 0px;
    }
    .course-name-box {
        width: 100%;
        font-size: 0.65rem;
    }
    .course-details-box{
        display: flex;
        height: auto;
        padding: 4px 0px;
        /* row-gap: 5px; */
    }
    .course-lecture{
        display: none;
    }
    .course-lesson,
    .course-student {
        font-size: 0.70rem;
        width: 50%;
        float: none;
        display: flex;
        justify-content:flex-start;
    }
    .devloper-image {
        width: 40px;
        height: 40px;
    }
    .devloper-name {
        font-size: 0.65rem;
    }
    .price-div{
        width: 30%;
    }
    .price1{
        display: none;
    }
    .price2 {
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
    }
    .cart-div {
        width: 88%;
    }
    .Add-to-cart {
        font-size: 0.70rem;
    }
    .onlineclassroom-row{
        padding: 10px 0px;
    }
    .onlineclassroom-imagebox1,
    .onlineclassroom-imagebox2,
    .onlineclassroom-imagebox3{
        display: none;
    }
    .onlineclassroom-main-box{
        width: 100%;
        top: 0px;
        left: 0px;
    }
    #onlineclassroom-textbox,
    #onlineclassroom-imageboxbox4{
        width: 100%;
        float: none;
        height: 50vh;
    }
    #histudy-container {
        padding-top: 40px;
    }
    .histudy-logo1,
    .teachers-logo1 {
        width: 16px;
        height: 16px;
    }
    .histudy-big-heading {
        width: 60%;
        font-size: 1rem;
        padding: 10px 0px;
    }
    .teachers-big-heading{
        font-size: 1rem;
    }
    .histudy-image-row{
        width: 100%;
        display: flex;
       justify-content: space-evenly;
        padding: 0px;
        flex-wrap: wrap;
        height: auto;
    }
    .item-4 {
        float: none;
        width: 50%;
        height: fit-content;
        margin-top: 2vh;
    }
    .iten-4-imagebox {
        width: 80%;
        height: auto;
        padding: 18px 0px;
    }
    .roundimage-div{
        height:fit-content;
        padding-top: 0px;
    }
    .roundimage-border-div{
        width: 60px;
        height: 60px;
    }
    .roundimage-box{
    height: 40px;
    width: 40px;
    }
    .roundimage-box i {
        font-size: 2rem;
        color: #ffffff;
    }
    .best-coaching {
        padding-top: 6px;
        font-size: 0.90rem;
    }
    .item-4-smalltext {
        font-size: 0.60rem;
        padding-top: 6px;
        line-height: 1;
    }
    .view-details-div {
        padding-top: 10px;
    }
    .veiw-details {
        font-size: 0.50rem;
        width: 50%;
        height: 5vh;
    }
   
    .joinoursession-bg-layer, 
.joinoursession-container {
    height: 30vh;
    }
    .joinoursession-contactbox {
        width: 80%;
        top: 4vh;
        left: 3%;
    }
    
.join-sessioin-text{
    font-size: 1rem;
}
.enroll-text {
    font-size: 1.4rem;
}
.number-text {
    font-size: 1.6rem;
}
.join-us-btn {
    font-size: 0.70rem;
    width: 35%;
    height: 6vh;
}
.annual-exam-imagerow{
    width: 100%;
}

.medical-exam-box {
    width: 100%;
}
.medical-exam-content {
    display: flex;
    margin-top: 10px;
    width: 94%;
    height: 30vh;
}
.medical-exam-heading {
    font-size: 1.2rem;
}
.medical-exam-small-text {
    line-height: 1.2;
    font-size: 0.70rem;
    padding-bottom: 10px;
}
.medical-roundimage-div {
    overflow: hidden;
    width: 50%;
}
.join-now {
    font-size: 0.65rem;
    width: 42%;
    height: 5vh;
}
.girl-image-box{
    display: none;
}
.girl-triangle-image {
    margin-top: 27vh;
    margin-right: 2%;
}
.slider-container {
    height: 34vh;
}
.slider-box {
    top: 2vh;
    right: 5%;
    width: 90%;
    height: 30vh;
}
.quot-box{
    height: 1vh;
}
.quot-image-box {
    width: 5%;
    height: 0px;
}
.slider{
    width: 100%;
    height: 30vh;
}
.slider-text{
    height: auto;
    padding-top: 20px;
    font-size: 0.80rem;
    line-height: 1.2rem;
}
.slider-image-box{
    padding-top: 10px;
    padding-left: 10px;
    height: auto;
}
.slider-round-div{
    height: 8vh;
}
.slider-dashed-round{
    height:60px;
    width: 60px;
}
.slider-staff-name{
    height: 8vh;
}
.slider-dashed-image{
    height: 40px;
    width: 40px;
}
.slider-staff-name h2{
    font-size: 1rem;
} 
.slider-staff-name h4{
    font-size: 0.80rem;
}
.teachers-image-row {
    width: 100%;
    height: 90vh;
}
.teachers-image-box {
    width: 48%;
    height: auto;
}
.teachers-images{
    height: auto;
}
.teachers-name-box {
    height: 12vh;
}
.share-circle {
    width: 40px;
    height: 40px;
    top: -28px;
    left: 38%;
}
.social-media-box i {
    font-size: 1rem;
    line-height: 1.4rem;
}
.rotate-div {
    left: 10px;
    bottom: -3px;
}
.social-media-box {
    left: 6px;
    top: -100px;
    width: 30px;
    height: 100px;
}
.nathaan-elen{
    font-size: 1rem;
    padding:20px 0px 5px 0px;
}
.teachers-name-box p {
    font-size: 0.80rem;
}
.date-text, .comments-text {
    margin-left: 2%;
    color: #697171;
    font-size: .65rem;
}
.item-3-text-second-row {
    padding: 3%;
    color: #0E2A46;
    font-size: 0.60rem;
}
.item-read-more{
    font-size: 0.60rem;
    width: 50%;
    height: 4vh;
}
.iten-3-read-more-btn {
    padding-left: 3%;
}
.item-read-more i {
    font-size: 0.60rem;
}
.footer-section {
    padding: 0%;
}
.footer-item4 {
    width: 49%;
    padding: 5px;
    height: auto;
    padding: 10px 5px;
}
.footer-item4-logo {
    width: 78%;
}
.footer-item4-address{
    font-size: 0.90rem;
    padding: 10px 0px;
}
.footer-item4-icon {
    width: 100%;
    font-size: 1.1rem;
}
.icon {
    width: 34px;
    height: 34px;
}
.our-services {
    font-size: 1.3rem;
    font-weight: 600;
    padding-left: 0px;
}
.footer-item4 ul {
    padding-top: 6px;
    padding-left: 0px;
}
.our-services-links {
    list-style: none;
    padding: 6px 0px;
    font-size: 0.90rem;
}
.gallery-images {
    width: 27%;
    margin: 2%;
}
.copyright-section {
    font-size: 0.64rem;
    padding: 10px 0px;
}
}



